.div-file-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 14px;
    margin: 0 auto;
}
  
.file-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 17px 22px;
    width: 180px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    justify-content: space-between;
    column-gap: 10px;
    transition: all .3s ease-in-out;
}

.file-item.dark {
    background-color: #272727;
}
  
.file-icon {
    width: 24px;
    transition: all .3s ease-in-out;
}

.div-file-name {
    max-width: 118px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    text-wrap: nowrap;
    transition: all .3s ease-in-out;
}

.div-file-name.dark {
    color: #fff;
}

.file-name {
    text-wrap: nowrap;
    font-family: "Days One", sans-serif;
    font-size: 15px;
    color: #454545;
    transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.file-name.dark {
    color: #fff;
}
  
.file-remove {
    background: none;
    border: none;
    font-size: 26px;
    color: #999;
    cursor: pointer;
}
  
.file-remove:hover {
    color: #ff0000;
}